
body{
    /* background-color: rgba(38, 0, 56); */
    background-image: url('../../structuredHTML/resource/images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(241, 211, 255);
    margin: 0%;
    padding: 0%;
}



.nav-container{
    background-color: rgb(73, 73, 73, 0.5);
    padding: 20px;
    text-align: right;
}

.nav-container a{
    color:  white;
    background-color: transparent;
    text-decoration: none;
    
  }

.logo-img{
    width: 4%;
    height: auto;
    float: left;
    /* background-color:rgb(241, 211, 255,0.8); */
    /* border: 1px solid; */
    /* background-color: rgba(187, 187, 187);
    border-radius: 100%; */
}


.nav-item{
    display: inline;
    margin : 30px 20px;
}

.banner{
    background-image: url(../resource/images/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh;
    
}
.banner-container{
    height: 100%;
    background-color: rgb(73, 73, 73, 0.7);
    text-align: center;
}
.banner-details{
    margin-top:10%;
    
    }

.box{
    background-color: rgb(73, 73, 73, 0.8);
    margin: 1% 10%;
}

.section-container{
    margin-top: 5%;
}

footer{
    background-color: rgb(29, 29, 29);
    text-align: center;
    border:1px solid white;
}
.footer-content{
    width: 60%;
    margin:auto;
    color: rgb(241, 211, 255);
    
}
.footer-content a{
    color: rgb(241, 211, 255);
}
  